@import "variables";

body {
    background-color: $fondo; 
    h1 {
        background-color:$primer;
        color: $fondo;
    } 
    p {
        color:$pcolor;
    }
    div {
        border: 1px solid $otra;
        p{
            color:white;
        }
    }
}